<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>My Profile</h1>
<div th:if="${user}">
    Hello, <span th:text="${user.name}"></span> This is the data that we have collected on you!

    <h2>First Name: <span  th:text="${firstName}"></span></h2>
    <h2>Last Name: <span  th:text="${lastName}"></span></h2>
    <h2>Date of Birth: <span  th:text="${dateOfBirth}"></span></h2>
    <img src="src/main/resources/static/images/default.jpg">
    <h2>Biography:</h2>
    <p th:text="${bio}"></p>



    <a href="/logout">Log out</a>
</div>
<div th:unless="${user}">
    <a href="/login">Log in</a>
    <a href="/signup">Sign up</a>
</div>
</body>
</html>