<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<form method="POST" action="/user/post">
    <h1>Hello <span th:text="${user.username}"></span>, You have something you want to
        say to the class?</h1>

    <label for="body">text:</label> <input type="text" name="body" id="body"/>


    <input type="submit"/>
</form>
</body>
</html>