<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <h1>User Page</h1>
    <div th:if="${user}">
        Hello, <span th:text="${user.firstName}"></span> This is the data that we have collected on you!

        <h2>First Name: <span  th:text="${user.firstName}"></span></h2>
        <h2>Last Name: <span  th:text="${user.lastName}"></span></h2>
        <h2>Date of Birth: <span  th:text="${user.dateOfBirth}"></span></h2>
        <img src="src/main/resources/static/images/default.jpg">
        <h2>Biography:</h2>
        <p th:text="${user.bio}"></p>

        <label>POSTS</label>
        <p th:each="post : ${user.userPost}"><span th:text="${post.body}"></span> </p>



        <a href="/logout">Log out</a>
    </div>
<div th:unless="${user}">
    <a href="/login">Log in</a>
    <a href="/signup">Sign up</a>
</div>
</body>
</html>